<%- include('../partials/header') %>

<form action="/books/<%= book.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="book" value="<%= book.title%>">
    <button type="submit">Update Book</button>
  </form>
  

<%- include('../partials/footer') %>