<%- include('../partials/header') %>

<section id="show-page">
    <div>Book Title: </div>
    <div><%= book.title %></div>
    <div>Number of Pages: </div>
    <div><%= book.pages %></div>

<%- include('../partials/footer') %>