<%- include('../partials/header') %>

<!-- <div>Before adding, please ensure that the Performer is not in the following list:</div> -->
<section id="badge-container">
  <% authors.forEach(function(a) { %>
    <article class="badge"><%= a.name %></article>
  <% }) %>
</section>

<form id="add-author-form" action="/authors" method="POST">
  <label>Author's Name:</label>
  <input type="text" name="name">
  <label>Date of Birth:</label>
  <input type="date" name="born">
  <label>Wikipedia Link:</label>
  <input type="text" name="wiki">
  <input type="submit" value="Add Performer">
</form>

<%- include('../partials/footer') %>
